html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Sandoll GyeokdongGothic';
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css */

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.body-header {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 134.84vw;
	background-image: url("../png/deco.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* background-image: url("../png/bg-group.png"); */
	background-color: #F7F9F2;
}

.nav-header {
	display: flex;
	justify-content: space-between;
}

.logo {
	margin: 1.88vw 0 0 2.60vw;
}

.logo-image {
	width: 10.73vw;
	height: 1.46vw;
}

.share-img {
	width: 2.71vw;
	height: 2.71vw;
}

.share-button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	margin: 1.25vw 2.60vw 0 0
}

.text-field-first {
	display: flex;
	justify-content: center;
	width: 35.57;
	margin: 10vw 0 2.24vw 0;
}

.header-text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-frist-text {
	width: 31.15vw;
	height: 5vw;
	font-size: 2.50vw;
	text-align: center;
}

.header-sub-text {
	color: #231F20;
	font-size: 7.29vw;
}

.header-second-text {
	font-size: 1.88vw;
}

.text-field-second {
	display: flex;
	justify-content: center;
	margin-bottom: 4.22vw;
	font-size: 1.88vw;
}

.text-field-wrapper {
	display: flex;
	justify-content: center;
}

.main-img-first {
	width: 72.92vw;
	margin-right: 0.16vw;
}

.main-img-bottom {
	width: 72.92vw;
	position: relative;
}

.main-img-common {
	width: 100%;
	margin-bottom: -0.26vw;
}

.main-img-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 0.52vw 0 0.52vw;
	z-index: 10;
}

.main-img-ellipse {
	position: absolute;
	width: 100%;
	height: 4.42vw;
	bottom: -13.85vw;
	z-index: -1;
}

.iframe-video {
	position: absolute;
	width: 62.5vw;
	height: 35vw;
	top: 74.90vw;
}

.iframe-text {
	margin-top: 1.67vw;
	text-align: center;

}

.iframe-text-first {
	font-size: 2.6vw;
	color: #ffff;
}

.iframe-text-second {
	margin: 0.2vw 0 0.83vw 0;
	font-size: 3.65vw;
	color: #ffff;
}

.iframe-text-third {
	font-size: 1.67vw;
	color: #ffff;

}

.ellipse {
	width: 100%;
}

.event-header-text {
	width: 12.60vw;
	height: 1.88vw;
	margin-bottom: 0.89vw;
	font-size: 1.88vw;
	color: #00C896;
	border-bottom: 0.15vw solid #00C896;
	margin-bottom: 2.77vw;
}

.event-header-sub-text {
	width: 45.1vw;
	font-size: 3.23vw;
	margin-bottom: 1.77vw;
}

.event-sub-text {
	font-size: 1.88vw;
	margin-bottom: 1.25vw;
}

.event-sub-second-text {
	height: 2.14vw;
	font-size: 1.77vw;
	color: #00C896;
}

.event-sub-third-text {
	margin-bottom: 3.65vw;
}

.event-button {
	width: 14.92vw;
	height: 3.50vw;
	outline: none;
	border: none;
	background-color: #00C896;
	font-size: 1.61vw;
	color: #ffff;
	cursor: pointer;

}

.event-button:hover {
	width: 14.92vw;
	height: 3.50vw;
	outline: none;
	border: none;
	background-color: #00C896;
	font-size: 1.61vw;
	color: #ffff;
	cursor: pointer;
}

.first-event {
	display: flex;
	justify-content: space-between;
	height: 44.27vw;
	margin: 0 auto;
}

.event-first-poster {
	/* width: 18.07vw; */
	/* height: 26.04vw; */
}

.event-first-img-poster {
	width: 21.46vw;
	height: 17.19vw;
	margin: 15.83vw 13.02vw 11.25vw;
}

.event-header-wrapper {
	width: 43.91vw;
	height: 21.83vw;
	margin: 11.14vw 0 11.30vw 13.18vw;
}

.second-event {
	position: relative;
	width: 100%;
	height: 44.25vw;

}

.second-event-img {
	position: absolute;
	left: 13.02vw;
	width: 35.68vw;
	height: 27.08vw;
	z-index: 1;
	margin-top: 8.59vw;
}

.event-second-header {
	width: 12.97vw;
	margin-bottom: 2.77vw;
	font-size: 1.88vw;
	text-align: right;
	color: #00C896;
	border-bottom: 0.15vw solid #00C896;
}

.event-second-header-sub-text {
	font-size: 3.28vw;
	margin-bottom: 0.04vw;
}

.event-second-sub-text_1 {
	font-size: 1.77vw;
	color: #00C896;
}

.event-second-sub-text {
	font-size: 3.23vw;
	color: #231F20;
	text-align: right;
	margin-bottom: 0.04vw;
}

.event-second-sub-footer-text {
	margin-top: 1.05vw;
	font-size: 1.15vw;
}

.event--fourth-first-text {
	font-size: 1.77vw;
	color: #00C896;
}

.event-fourth-second-text {
	margin-top: 1.04vw;
	font-size: 1.15vw;
}

.second-event-wrapper {
	position: relative;
	background-color: #F7F9F2;
}

.fourth-event-img {
	width: 39.72vw;
	height: 33.88vw;
	margin-top: 14.06vw;
	margin-left: 10.83vw;
}

.second-event-text-wrapper {
	position: absolute;
	top: 9.97vw;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	right: 13.02vw;
}

.second-event-button {
	margin-top: 3.88vw;
	text-align: right;
}

/* .git-box-wrapper {
	width: 15.73vw;
	height: 15.73vw;
} */

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 28.65vw;
	text-align: center;
}

.footer-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40.04vw;
	height: 3.7vw;
	margin-top: 15.67vw;
}

.app-box {}

.store-button {
	border: none;
	outline: none;
	background-color: #ffff;
	cursor: pointer;
}

.footer-header-text {
	font-size: 1.09vw;
	margin-bottom: 0.82vw;
}

.footer-log-img {
	width: 11.61vw;
}

.footer-info {
	display: flex;
	margin: 5.55vw 0 1.82vw 0;
	font-size: 0.83vw;
	color: #ADACAB;
}

.android-img {
	width: 12.03vw;
	height: 3.70vw;
	background-color: #ffff;
}

.ios-img {
	width: 12.03vw;
	height: 3.70vw;
	background-color: #ffff;

}

.footer-sub-text {
	margin-top: 0.69vw;
}