html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* first */

.nav-wrapper {
	position: relative;
	width: 100%;
	height: 42.88vw;
	background-image: url("../png/page2-main_1.png");
	background-repeat: no-repeat;
	/* background-size: cover; */
	/* background-position: center; */
}

.nav-bg-ssam-img {
	width: 44.74vw;
	height: 39.06vw;
	margin: -0.1vw 0 5.31vw 50vw
}

.main-header-img {
	height: 46.88vw;
	margin: 0;
	padding: 0;
}


.logo-image {
	margin: 1.88vw 0 0 2.60vw;
	width: 10.73vw;
	height: 1.46vw;
}

.nav-header-box {
	position: absolute;
	width: 30.10vw;
	height: 12.19vw;
	top: 29.54vw;
	left: 19.15vw;
}

.nav-first-title {
	font-size: 1.88vw;
	margin-bottom: 0.89vw;
}

.nav-second-title {
	font-size: 3.75vw;
	margin-bottom: 2.08vw;
}

.nav-third-title {
	position: relative;
	width: 19.9vw;
	height: 2.45vw;
	font-size: 1.56vw;
}

.border-line1 {
	position: absolute;
	top: -0.5vw;
	left: -1.3vw;
	width: 1.81vw;
	height: 1.81vw;
}

.border-line2 {
	position: absolute;
	top: 0.63vw;
	width: 1.81vw;
	height: 1.81vw;
}

.nav-bg-text-img {
	position: absolute;
	top: 8.48vw;
	left: 8.84vw;
	bottom: 12.88vw;
	width: 43.17vw;
	height: 21.09vw;
}

.nav-bg-text2-img {
	position: absolute;
	top: 10.8vw;
	right: 20.06vw;
	width: 5.91vw;
	height: 7.03vw;
}

/* event 1 */

.event-title-first {
	line-height: 2.92vw;
}

.event-title-first-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20.83vw;
	margin-bottom: 2.50vw;
}

.event-title-first-text {
	font-size: 2.50vw;
	margin-bottom: 0.92vw;
}

.event-title-second-text {
	font-size: 2.50vw;
	margin-bottom: 0.92vw;
}

.event-title-main-text-img {
	width: 43.17vw;
	height: 21.09vw;
	font-size: 1.67vw;

}

.event-title-thid-text {
	font-size: 1.67vw;
	font-weight: bold;
}

.event-first-sub-text {
	font-weight: bold;
	color: #00C896;
}

.event-title-third-text {
	font-size: 2.50vw;
}

/* second */
.event-title-second-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 44.27vw;
	background-color: #F7F9F2;
}

.event-title-second-first-text {
	position: relative;
	margin: 7.71vw 0 5.62vw 0;
	font-size: 1.88vw;
}

.event-title-second-first-img {
	position: absolute;
	width: 1.81vw;
	height: 1.81vw;
	left: -2.5vw;
	top: -0.83vw;

}

.event-title-second-box {
	/* width: 32.81vw; */
	height: 16.2vw;
}

.event-second-text-box {
	display: flex;
	justify-content: space-between;
	width: 58.25vw;
	margin-top: 3.02vw;
	margin-left: 4.64vw;
	font-size: 1.25vw;
	height: 14.06vw;

}

.tv-box {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	font-size: 1.25vw;
}

.tv-img {
	width: 9.58vw;
	height: 9.58vw;
}

.tv-text {
	margin-top: 1.61vw;
}

.bus-box {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	height: 14.06vw;
	font-size: 1.25vw;
}

.bus-sub-wrapper {
	margin-top: 0.15vw;
	text-align: center;
	margin-top: 1.61vw;

}

.bus-img {
	width: 9.58vw;
	height: 9.58vw;
}

.bus-text {
	font-size: 1.25vw;
	color: #231F20;
}

.youtube-box {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	font-size: 1.25vw;
}

.youtube-text {
	font-size: 1.25vw;
	color: #231F20;
	margin-top: 1.61vw;
}

.youtube-img {
	width: 9.58vw;
	height: 9.58vw;
}

.instar-box {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.instar-img {
	width: 9.58vw;
	height: 9.58vw;
}

.instar-text {
	margin-top: 1.61vw;
}

.event-title-footer-first-text {
	font-size: 1.46vw;
}

.event-title-footer-second-text {
	font-size: 1.46vw;
	font-weight: bold;
}

.event-title-second-footer {
	width: 54.48vw;
	height: 4.22vw;
	margin-top: 3.13vw;
	line-height: 2.5vw;
	text-align: center;
}

/* third */

.event-title-third-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 26.04vw;
	margin-bottom: 4.38vw;

}

.event-third-header-text {
	width: 100%;
	height: 2.24vw;
	margin-top: 3.55vw;
	margin-bottom: 3.81vw;
	font-size: 1.88vw;
	color: #11A28E;
	text-align: center;
}

.salary-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.salary-img-box {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.salary-img {
	width: 6.30vw;
	height: 6.30vw;
}

.salary-text-box {
	/* width: 14.48vw; */
	width: 100%;
	height: 3.27vw;
	margin-top: 2.20vw;
	text-align: center;
}


.salary-text {
	font-size: 1.35vw;
	font-weight: bold;
}

.salary-second-text {
	font-size: 1.09vw;
	color: #707070;
}

.plus-img {
	width: 1.88vw;
	height: 4.43vw;
}

.salary-img-moneybag {
	width: 9.45vw;
	height: 7.29vw;
}

.result-img {
	width: 1.98vw;
	height: 4.43vw;
}




/* fourth */

.event-fourth-wrapper {
	width: 100%;
	height: 40.68vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #F7F9F2;
}


.event-fourth-header-title {
	position: relative;
	margin-bottom: 1.51vw;
	font-size: 2.50vw;
}

.event-fourth-header-title-img {
	position: absolute;
	width: 1.81vw;
	height: 1.81vw;
	top: 1.71vw;
	left: -1.15vw;
	transform: rotate(270deg)
}

.event-fourth-sub-text-box {
	line-height: 2.08vw;
	margin-top: 1.76vw;
	margin-bottom: 2.60vw;
}

.event-fourth-sub-title {
	font-size: 1.46vw;
}

.event-fourth-third-title {
	font-size: 1.04vw;
}

.event-fourth-item-box {
	display: flex;
	justify-content: center;
	width: 46.46vw;
	height: 27.32vw;
	/* width: 100%; */
}

.event-fourth-thumbnail-first {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 23.96vw;
	height: 21.88vw;
	background-color: #ffff;
	/* border-radius: 1.56vw; */
}

.event-fourth-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25.27vw;
	/* justify-content: center; */
	/* width: 100%;
	height: 100%; */
}

.event-fourth-step {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5.73vw;
	height: 2.08vw;
	margin-top: 1.56vw;
	/* border-radius: 1.56vw; */
	background-color: #00C896;
	font-size: 1.04vw;
	color: #fff;
}

.event-fouth-step-text-box {
	margin-top: 0.83vw;
	margin-bottom: 0.83vw;
	font-size: 1.25vw;
	font-weight: bold;
	text-align: center;
	line-height: 1.5vw;
}

.event-fourth-thumbnail-second {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 23.96vw;
	height: 21.88vw;
	background-color: #fff;
	background-image: url(../png/bg-12.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}



.event-phone2-img {
	position: relative;
	width: 10.73vw;
	height: 12..76vw;
	top: 0.8vw;
}

.hash-tag-text1 {
	position: absolute;
	top: 11.56vw;
	right: 3.75vw;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6.09vw;
	height: 2.14vw;
	background-color: #000;
	border-radius: 1.56vw;
	color: #fff;
	font-size: 0.89vw;
}

.hash-tag-text2 {
	position: absolute;
	left: 2.24vw;
	bottom: 1.82vw;
	width: 6.09vw;
	height: 2.14vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: #fff;
	border-radius: 1.56vw;
}


/* fifth */

.fifth-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	margin-top: 5.73vw;
	margin-left: 28.44vw;
	height: 20.83vw;
}

.fifth-title {
	width: 9.38vw;
	height: 2.60vw;
	/* border-radius: 1.56vw; */
	font-size: 1.45vw;
	background-color: #00C896;
	text-align: center;
	line-height: 2.60vw;
	color: #fff;
	font-weight: bold;
}





.fifth-first-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 31.72vw;
	height: 2.60vw;
}


.fifth-second-wrapper {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	width: 42.34vw;
	height: 8.96vw;
	margin-top: 2.60vw;
}

.fifth-secod-box {
	display: flex;
	/* width: 42.34vw; */
	margin-right: 2.08vw;
}

.fifth-title-sub-title {
	width: 9.38vw;
	height: 2.60vw;
	/* border-radius: 1.56vw; */
	font-size: 1.45vw;
	background-color: #00C896;
	text-align: center;
	line-height: 2.60vw;
	color: #fff;
	font-weight: bold;
	/* margin-right: 2.08vw; */
}

.fifth-title-box {
	width: 100%;
	font-size: 1.46vw;
}

.fifth-title-text {
	width: 20.26vw;
	height: 1.72vw;
	font-size: 1.46vw;
}

.fifth-title-sub-text-first {
	margin-bottom: 0.52vw;
	color: #000;
	/* font-size: 1.25vw; */
}

.fifth-title-sub-text-second {
	color: #000;
	font-size: 1.25vw;
}


.sixth-wrapper {
	position: relative;
	height: 100vw;
}

.sixth-ellipse-first {
	width: 100%;
	height: 44.27vw;
}

.sixth-ellipse-body {
	position: absolute;
	width: 100%;
	top: 5.41vw;
	height: 85.26vw;
}

.sixth-ellipse-second {
	width: 100%;
	height: 44.27vw;
	margin-top: 11.46vw;

}